.col-md-4{
	
	height:1300px;
	background: linear-gradient(90deg, #a350adba, #05247b);
	color:white;
}
img{
	padding-left:35px;
	padding-right:0px;
	margin-top:20px;
	padding-top:5px;
}
.col-md-12{
	border-radius:20px;
	width:600px;
	margin-left:45px;
	margin-bottom:25px;
	background: linear-gradient(90deg, #a350adba, #05247b);
    color: white;
    box-shadow: 3px 3px 7px white;
}  

	h1{
	    font-size: 35px;
		text-shadow: 2px 2px 5px grey;
		text-align: center;
		font-family:inherit;
		color:white;
}

.menu{
	
	margin-top:20px;
	box-shadow: 2px 2px 6px white;
	line-height:1.5;
	
}
a{
	color:white;
	
}
.social{
	color:white;
	box-shadow: 2px 2px 6px white;
}

.contact{
	color:white;
	box-shadow: 2px 2px 6px white;
}
body{
	line-height:2;
font-size: 17px;
background-color: black;
}